
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #bbb;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 2px;
    color: white; box-shadow: 0 0 5px #000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    background-color: #222;
    font-family: Arial, sans-serif;
    color: white;
}
#board {
    margin-bottom: 20px;
}
#controls {
    display: flex;
    gap: 10px;
}
#guessInput {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #555;
    background-color: #333;
    color: white;
    font-size: 18px;
}

#guessInput:focus {
    outline: none;
    border-color: #888;
}

#guessButton {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#guessButton:hover {
    background-color: #777;
}

.flip {
    transform: rotateX(90deg);
}
h1 {
    margin-bottom: 20px;
    letter-spacing: 3px;
}

